body {
  margin: 0;
}
html {
  scroll-behavior: smooth;
}

img {
  display: block;
  margin: 0 auto;
}

.image {
  position: fixed;
  z-index: -1;
  
}

.image-size {
  background-size: cover;
  width: 100%;
  height: auto;
}

.image img {
  filter: brightness(25%)
}

.header {
  font-family: 'Mulish', sans-serif;
  font-size: 30px;
  text-align: center;
  color: white;
  border: 8px solid rgba(0, 0, 0, 0);
  margin: 0;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
  height: 15%;

}

.titel {
  font-family: 'Mulish', sans-serif;
  font-size: 20px;
  text-align: center;
  color: white;
  margin-top: 5%;

}

.compact-text {
  display: flex;
  justify-content: center;
  border: 2px
}

.compact {
  font-family: 'Mulish', sans-serif;
  text-align: center;
  font-size: 30px;
  border: 2px;
  width: 60%;
  color: white;

}

.Ilya-photo {
  display: block;
  margin: 0 auto;
  width: 202, 5px;
  height: 200px;
  border: 1px solid black;
  border-radius: 600px;
}

.mask {
  background-color: rgba(0, 0, 0, 0.72);

}

.separator {
  margin: 5%;
  border: 2px solid white;
  width: auto;
}

.text-sketches {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;

}

.biography-left {
  text-align: left;
  padding-left: 10px;
  font-size: 25px;
  font-family: 'Mulish', sans-serif;
  color: white;
  background-color: rgba(0, 0, 0, 0.63);
  border: 3px solid rgba(0, 0, 0, 0.63);
  border-radius: 8px;
}

.sketches {
  /*width: 510px;
  height: 683px;*/
  width: 60%;
  height: 60%;
  border-radius: 8px;
  transition: transform 1s;
}

.sketches:hover {
  transform: scale(2);
}

.navigation-button {
  --time: 0.3s;

  border: 2px solid rgba(255, 255, 255, 0.777);
  border-radius: 8px;
  padding: 0.5rem 1rem;

  text-decoration: none;
  font-weight: 100;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


  background-color: rgba(255, 255, 255, 0.145);
  color: rgb(255, 255, 255);
  transition: color var(--time) ease-in-out,
    background-color var(--time) ease-in-out;
}

.navigation-button:hover {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}

.navigation-button {
  position: relative;

  overflow: hidden;
  isolation: isolate;
}

.navigation-button::before {
  display: block;
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(255, 255, 255);

  content: "";
  transform: scaleX(0);
  transform-origin: left;
  transition: transform var(--time) ease-in-out;
  z-index: -1;
}

.navigation-button:hover::before {
  transform: scaleX(1);
}