body {
    margin: 0;
}

.image {
    position: fixed;
    z-index: -1;
}

.image-size {
    background-size: cover;
    width: 100%;
    height: auto;
}

.image img {
    filter: brightness(50%)
}

.header {
    text-align: center;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

.separator {
    margin: 5%;
    border: 2px solid white;
    width: 100%;
}

.gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0, -5;
}

.finishedWork {
    width: 35%;
    height: 35%;
    border-radius: 8px;
    transition: transform 2s;
}

.finishedWork:hover {
    transform: scale(2);
}

.button-left {
    text-align: left;
}

.navigation-button {
    --time: 0.3s;

    border: 2px solid rgba(255, 255, 255, 0.777);
    border-radius: 8px;
    padding: 0.5rem 1rem;

    text-decoration: none;
    font-weight: 100;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


    background-color: rgba(255, 255, 255, 0.145);
    color: rgb(255, 255, 255);
    transition: color var(--time) ease-in-out,
        background-color var(--time) ease-in-out;
}

.navigation-button:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

.navigation-button {
    position: relative;

    overflow: hidden;
    isolation: isolate;
}

.navigation-button::before {
    display: block;
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);

    content: "";
    transform: scaleX(0);
    transform-origin: left;
    transition: transform var(--time) ease-in-out;
    z-index: -1;
}

.navigation-button:hover::before {
    transform: scaleX(1);
}